<form [ngrxFormState]="formState" *ngIf="formState$ | async as formState">
  <label>Value</label>
  <input [ngrxFormControlState]="formState.controls.value" type="text">
  <div *ngIf="formState.controls.items.isInvalid">
    <span style="color: red;" *ngIf="formState.controls.items.errors.tooMany">Too Many Items!</span>
    <span style="color: red;" *ngIf="formState.controls.items.errors.noItem">No Item!</span>
  </div>
  <div *ngFor="let itemState of formState.controls.items.controls; trackBy: trackByIndex">
    <label>Name</label>
    <input [ngrxFormControlState]="itemState.controls.name">
    <label>Description</label>
    <input [ngrxFormControlState]="itemState.controls.description">
  </div>
</form>
<button (click)="addLine()">Add Item</button>
<button (click)="deleteLine()">Delete Item</button>

<pre>{{ formState$ | async | json }}</pre>